<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<div style="text-align:center">
<h1>What is the WORD COUNT?</h1>
<br><br><br><br><br>
<p>안녕하세요, 이곳은 글자를 세 주는 WORD COUNT 웹페이지입니다. 여기에서 글자를 세세요.</p>
<br><br><br><br><br>
<a href="{%url 'home'%}" class="btn btn-link">Home으로 돌아가기</a>
</div>