<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<div style="text-align:center">
<h1> WORD COUNT </h1>


<a href="{%url 'about'%}" class="btn btn-link">ABOUT</a>
<br><br>
<form action="{%url 'result'%}">
    <textarea placeholder="내용을 입력하세요." cols="100" rows="20" name="fulltext"></textarea>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Count!">
</form>
</div>